.artboard {
  height: 100vh;
  padding-top: 100px;
  position: relative;
  &__textbox {
    &-heading {
      max-width: 578.086px;
      color: #fff;
      font-family: Ondo;
      font-size: 68.937px;
      font-style: normal;
      font-weight: 800;
      line-height: 110.6%; /* 76.245px */
      letter-spacing: 2.757px;
      text-transform: uppercase;
    }
    &-des {
      max-width: 602px;
      color: #fff;
      font-family: Lato;
      font-size: 18.715px;
      font-style: normal;
      font-weight: 400;
      line-height: 185.1%; /* 34.642px */
      letter-spacing: 0.749px;
      margin-bottom: 20px;
    }
    &-btn {
      margin-bottom: 57px;
      a {
        color: #fff;
        font-family: Ondo;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 110.6%; /* 22.12px */
        letter-spacing: 0.8px;
        text-transform: uppercase;
        margin-right: 30px;
      }
    }
    &-title {
      display: flex;
      .item {
        margin-right: 30px;
        &__number {
          color: #fff;
          font-family: Ondo;
          font-size: 30px;
          font-style: normal;
          font-weight: 800;
          line-height: 110.6%; /* 33.18px */
          letter-spacing: 1.2px;
          text-transform: uppercase;
        }
        &__des {
          color: #fff;
          font-family: Lato;
          font-size: 18.715px;
          font-style: normal;
          font-weight: 400;
          line-height: 185.1%; /* 34.642px */
          letter-spacing: 0.749px;
          text-transform: capitalize;
        }
      }
    }
  }
  &__img {
    width: 1000px;

    // background: url(<path-to-image>),
    //   lightgray -91.869px 41.66px / 102.737% 92.356% no-repeat;
    mix-blend-mode: color-dodge;
    position: absolute;
    top: -10%;
    right: -10%;
    @include xs {
      position: relative;
      top: initial;
      right: initial;
    }
  }
  &__banner {
    margin-top: 35px;
    display: flex;
    width: 1453px;
    height: 80px;
    transform: rotate(-1.983deg);
    border: 1px solid gray;
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
    backdrop-filter: blur(25px);
    &-item {
      white-space: nowrap;
      display: flex;
      align-items: center;
      color: #fff;
      font-family: Ondo;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: 110.6%; /* 33.18px */
      letter-spacing: 1.2px;
      text-transform: uppercase;
      margin-right: 70px;
      img {
        width: 40px;
        margin-right: 5px;
      }
    }
  }
  .blur {
    position: absolute;
    top: -70%;
    left: -29%;
    pointer-events: none;
    z-index: -1;
  }
}
.fv {
  padding-top: 79px;
  &__textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-heading {
      max-width: 718px;
      color: #fff;
      text-align: center;
      font-family: Ondo;
      font-size: 66px;
      font-style: normal;
      font-weight: 800;
      line-height: 116.6%; /* 76.956px */
      letter-spacing: 2.64px;
      text-transform: uppercase;
    }
    &-des {
      max-width: 518px;
      color: #fff;
      text-align: center;
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 185.1%; /* 29.616px */
      letter-spacing: 0.64px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    &-item {
      margin-right: 50px;
      &:nth-child(0) {
        width: 451.136px;
        height: 366.969px;
      }
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 57px;
    margin-top: 85px;
    a {
      color: #fff;
      font-family: Ondo;
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
      line-height: 110.6%; /* 22.12px */
      letter-spacing: 0.8px;
      text-transform: uppercase;
      margin-right: 30px;
    }
  }
}
.virtual {
  margin-top: 111px;
  &__item {
    display: flex;
    align-items: center;
    width: 1240px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #000;
    background: url("/img/rec5.png"), lightgray 0% 0% / 100px 100px repeat,
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.08) 0%,
        rgba(217, 217, 217, 0.04) 100%
      );
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
    backdrop-filter: blur(25px);
  }
  &__img {
    width: 725px;
    height: 639px;
  }
  &__textbox {
    &-heading {
      max-width: 531px;
      color: #fff;
      font-family: Ondo;
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: 116.6%; /* 55.968px */
      letter-spacing: -0.24px;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    &-des {
      max-width: 463px;
      color: #fff;
      font-family: Lato;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 185.1%; /* 29.616px */
      letter-spacing: 0.64px;
    }
    &-btn {
      margin-top: 35px;
      a {
        color: #fff;
        font-family: Ondo;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 110.6%; /* 22.12px */
        letter-spacing: 0.8px;
        text-transform: uppercase;
        margin-right: 30px;
      }
    }
  }
  &__banner {
    margin-top: 86px;
    display: flex;
  }
}
