.artboard {
  height: 100vh;
  padding-top: 100px;
  position: relative;
  &__textbox {
    &-heading {
      max-width: 578px;
    }
    &-des {
      max-width: 602px;
    }
    &-btn {
      margin-bottom: 57px;
      a {
        margin-right: 30px;
      }
    }
    &-title {
      display: flex;
      .item {
        margin-right: 30px;
        &__number {
          color: #fff;
          font-size: 30px;
          font-style: normal;
          font-weight: 800;
          line-height: 110.6%; /* 33.18px */
          letter-spacing: 1.2px;
          text-transform: uppercase;
        }
        &__des {
          text-transform: capitalize;
        }
      }
    }
  }
  &__img {
    width: 1000px;

    // background: url(<path-to-image>),
    //   lightgray -91.869px 41.66px / 102.737% 92.356% no-repeat;
    mix-blend-mode: color-dodge;
    position: absolute;
    top: -10%;
    right: -10%;
    @include xs {
      position: relative;
      top: initial;
      right: initial;
    }
  }
  &__banner {
    margin-top: 35px;
    display: flex;
    width: 1453px;
    height: 90px;
    background-image: url("/img/r6.svg");
    // transform: rotate(-1.983deg);
    // box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
    // backdrop-filter: blur(25px);
    &-item {
      white-space: nowrap;
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: 110.6%; /* 33.18px */
      letter-spacing: 1.2px;
      text-transform: uppercase;
      margin-right: 70px;
      img {
        width: 40px;
        margin-right: 5px;
      }
    }
  }
  .blur {
    position: absolute;
    top: -70%;
    left: -29%;
    pointer-events: none;
    z-index: -1;
  }
}
.fv {
  padding-top: 79px;
  &__textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-heading {
      max-width: 718px;
    }
    &-des {
      max-width: 518px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    &-item {
      margin-right: 50px;
      &:nth-child(0) {
        width: 451.136px;
        height: 366.969px;
      }
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 57px;
    margin-top: 85px;
    a {
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 800;
      line-height: 110.6%; /* 22.12px */
      letter-spacing: 0.8px;
      text-transform: uppercase;
      margin-right: 30px;
    }
  }
}
.virtual {
  margin-top: 111px;
  &__item {
    display: flex;
    align-items: center;
    width: 1240px;
    height: 556px;
    position: relative;
    border-radius: 10px;
    background-image: url("/img/Rectangle\ 5.svg");
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
    backdrop-filter: blur(25px);
  }
  &__img {
    width: 725px;
    height: 639px;
    position: relative;
    top: -34px;
  }
  &__textbox {
    &-heading {
      max-width: 531px;

      margin-bottom: 12px;
    }
    &-des {
      max-width: 463px;
    }
    &-btn {
      margin-top: 35px;
      a {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 110.6%; /* 22.12px */
        letter-spacing: 0.8px;
        text-transform: uppercase;
        margin-right: 30px;
      }
    }
  }
  &__banner {
    margin-top: 86px;
    display: flex;
  }
}
.wel {
  &__textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-heading {
      max-width: 718px;
    }
  }
  &__list {
    margin-top: 77px;
    display: flex;
    flex-direction: column;
    .top,
    .bottom {
      display: flex;
    }

    &-item {
      width: 397px;
      height: 537px;
      border-radius: 10px;
      background-image: url("/img/wel.svg");
      border-right: 0.6px solid gray;
      padding: 20px;
      margin-right: 27px;
      margin-bottom: 40px;

      .name {
        margin-top: 30px;
        margin-bottom: 18px;
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 110.6%; /* 26.544px */
        letter-spacing: 0.84px;
        text-transform: capitalize;
      }
      .author {
        display: flex;
        &__img {
          width: 53px;
          height: 53px;
          margin-right: 10px;
        }
        &__info {
          &-name {
            color: #fff;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 110.6%; /* 19.908px */
            letter-spacing: 0.63px;
            text-transform: capitalize;
          }
          &-location {
            color: #fff;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 110.6%; /* 11.06px */
            letter-spacing: 0.35px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
  &__banner {
    display: flex;
  }
}
.say {
  &__item {
    padding: 58px 47px;
    width: 607px;
    height: 388px;
    background-image: url("/img/Rectangle\ 20.png");
    position: relative;
    &-logo {
      display: flex;
      position: absolute;
      top: -53px;
      right: 40px;
      img {
        margin-right: 10px;
      }
    }
    &-star {
      display: flex;
      img {
        margin-right: 10px;
        width: 18px;
      }
    }
    &-des {
      margin-top: 9px;
      max-width: 524px;
    }
    &-author {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .info {
        display: flex;
        align-items: center;
        &::after {
          content: "";
          width: calc(100% - 30px);
          height: 0.5px;
          position: absolute;
          background-color: var(--white-cl);
          opacity: 0.5;
          top: 222px;
        }
        &__img {
          width: 62px;
        }
        &__user {
          margin-left: 15px;
          &-name {
            color: #fff;
            font-size: 20.968px;
            font-style: normal;
            font-weight: 500;
            line-height: 110.6%; /* 23.191px */
            letter-spacing: 0.734px;
            text-transform: capitalize;
          }
          &-location {
            color: #fff;
            font-size: 11.649px;
            font-style: normal;
            font-weight: 500;
            line-height: 110.6%; /* 12.884px */
            letter-spacing: 0.408px;
            text-transform: capitalize;
          }
        }
      }
      .verify {
        display: flex;
        align-items: center;
        &__title {
          color: #fff;
          font-size: 14.65px;
          font-style: normal;
          font-weight: 500;
          line-height: 110.6%; /* 16.203px */
          letter-spacing: 0.513px;
          text-transform: capitalize;
          margin-left: 5px;
        }
      }
    }
  }
  &__banner {
    display: flex;
  }
}
